<div class='container'>

	<h2><%= @post.title %></h2>

	<p>
	  <%= @post.description %>
	</p>


	<p id='<%= "#{@post.id}_comments" %>'>
		<div class='comment greyButton'><strong>Comments:</strong></div>
		<ul id='<%= "#{@post.id}_commentList" %>' class='commentList'>
		<% @comments.each do |comment| %>
			<li>
			  <%= comment.message %>
			  <% if comment.user_id == current_user.id %>
				  <%= link_to edit_post_comment_path(@post, comment), class: 'floatRight' do %>
	            <i class="fa fa-edit" style="font-size:12px"></i>
	        <% end %>
        <% end %>
		  </li>
		<% end %>
		</ul>
	</p>
</div>

<%= form_with(url: post_comments_path(post_id: @post.id), local: true) do |form| %>
	<div class="container">
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :message %>
    <%= form.text_field :message, name: "comment[message]" %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post), class: 'button blueButton' %>
<%= link_to 'Back', posts_path, class: 'button greyButton'  %>
